@{
    ViewData["Title"] = "Index";
}

<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/crud-ingredients.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    Manage Ingredients
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <br />
                    <partial name="_CreateIngredientModalPartial" />
                    <br />
                    <!-- Placeholder for loading ingredients table-->
                    <div id="ingredienttableplaceholder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ModalIngredientsDeleteConfirm.js"></script>
    <script src="~/js/EditIngredient.js"></script>
    <script src="~/js/IngredientsTable.js"></script>
}
