
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/CropRating.css" />
</head>

<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/barsindex.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    Bars
                </h1>
                <br />
                <h5>The London bar scene is undoubtedly one of the most diverse in the world, with countless watering-holes to choose from, whatever your tastes might be. Some of the best bars in London are right under your nose, just waiting to be discovered; and we're all about helping you to find them. Whether you're looking to tap into the bars in London with live music, one of the many bars in London with a view, or even just to find out which bars in London open late; you can find your top London bar right here.</h5>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <br />
                        @if (User.IsInRole("Manager"))
                        {
                            <partial name="_CreateBarModalPartial"/>
                        }
                        <br />
                        <!-- Placeholder for loading bars table-->
                        <div id="bartableplaceholder">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ModalBarsDeleteConfirm.js"></script>
    <script src="~/js/BarIndexModal.js"></script>
    <script src="~/js/deletebar.js"></script>
    <script src="~/js/BarsTable.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
