@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <link href="~/assets/css/homescreen-images.css" rel="stylesheet" />
    </head>

<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/homepage.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    Welcome To The Home Of Unexpected, Ridiculous, Joy
                </h1>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-Primary btn-raised btn-lg">
                    <i class="fa fa-play"></i> Watch video
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">London&apos;s Night Life</h2>
                    <h5 class="description">London is famed for its nightlife, offering world-class London theatres, top clubs in the West End, an alternative Camden scene, trendy nights out in Shoreditch and more. From evenings of comedy, theatre, music or a night out on the town, there are plenty of fun things to do in London at night. </h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">beenhere</i>
                            </div>
                            <h4 class="info-title">Best Bars</h4>
                            <p>Here you will find our pick of the best bars in London, just don’t blame us for the headache tomorrow.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">local_bar</i>
                            </div>
                            <h4 class="info-title">Top Cocktails</h4>
                            <p>A full list of the most-ordered drinks of 2019 because tasting them all will take too much time.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="material-icons">how_to_reg</i>
                            </div>
                            <h4 class="info-title">Book A Table</h4>
                            <p>Cocktail Wizard is your one-stop to having a good time. Get in contact with bars directly from our website.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*ROW WITH TOP-RATED BARS*@
        <div class="section text-center">
            <h2 class="title">Top-Rated Bars</h2>
            <div class="row">
                <div class="col-md-4 columnhomescreen">
                    <img src="~/assets/img/404page.jpg" alt="Snow" style="width:100%">
                    <h4 class="card-title">
                        Bar Swift
                        <br>
                        <small class="card-description text-muted text-center">Soho, London</small>
                    </h4>
                </div>
                <div class="col-md-4 columnhomescreen">
                    <img src="~/assets/img/404page.jpg" alt="Forest" style="width:100%">
                    <h4 class="card-title">
                        Bar Swift
                        <br>
                        <small class="card-description text-muted text-center">Soho, London</small>
                    </h4>
                </div>
                <div class="col-md-4 columnhomescreen">
                    <img src="~/assets/img/404page.jpg" alt="Mountains" style="width:100%">
                    <h4 class="card-title">
                        Bar Swift
                        <br>
                        <small class="card-description text-muted text-center">Soho, London</small>
                    </h4>
                </div>
            </div>
        </div>

        @*ROW WITH TOP-RATED COCKTAILS*@
        <div class="section text-center">
            <h2 class="title">Top-Rated Cocktails</h2>
            <div class="row">
                <div class="col-md-4 columnhomescreen">
                    <img src="~/assets/img/404page.jpg" alt="Snow" style="width:100%">
                    <h4 class="card-title">
                        Bar Swift
                        <br>
                        <small class="card-description text-muted text-center">Soho, London</small>
                    </h4>
                </div>
                <div class="col-md-4 columnhomescreen">
                    <img src="~/assets/img/404page.jpg" alt="Forest" style="width:100%">
                    <h4 class="card-title">
                        Bar Swift
                        <br>
                        <small class="card-description text-muted text-center">Soho, London</small>
                    </h4>
                </div>
                <div class="col-md-4 columnhomescreen">
                    <img src="~/assets/img/404page.jpg" alt="Mountains" style="width:100%">
                    <h4 class="card-title">
                        Bar Swift
                        <br>
                        <small class="card-description text-muted text-center">Soho, London</small>
                    </h4>
                </div>
            </div>
        </div>

        @*<div class="section text-center">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="../assets/img/faces/avatar.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Gigi Hadid
                                    <br>
                                    <small class="card-description text-muted">Model</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                        <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="../assets/img/faces/christian.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Christian Louboutin
                                    <br>
                                    <small class="card-description text-muted">Designer</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                        <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="../assets/img/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Kendall Jenner
                                    <br>
                                    <small class="card-description text-muted">Model</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                        <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="section section-contacts">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center title">We value your feedback</h2>
                    <h4 class="text-center description">Provide details about your feedback. We will responde get back to you in a couple of hours.</h4>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Your Name</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Your Email</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                            <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto text-center">
                                <button class="btn btn-primary btn-raised">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
