@model CocktailsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/CropRating.css" />
</head>


<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/crud-ingredients.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    Cocktails
                </h1>
                <br />
                <h5>We spent countless hours of research in hundreds of bars to bring you the best and most creative cocktails on Earth. Cheers!</h5>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <br />
                        @if (User.IsInRole("Manager"))
                        {
                            @await Component.InvokeAsync("CreateCocktail")
                        }
                        <br />
                        <!-- Placeholder for loading cocktails table-->
                        <div id="cocktailtableplaceholder">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ModalCocktailsDeleteConfirm.js"></script>
    <script src="~/js/CocktailIndexModal.js"></script>
    <script src="~/js/deletecocktail.js"></script>
    <script src="~/js/CocktailsTable.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
