@model IngredientViewModel

<!-- Modal -->
<div class="modal fade" id="myModalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new ingredient</h4>
            </div>
            <div class="modal-body">
                <div class="text-danger-custom"></div>
                <form id="submit-form-account" asp-area="Manager" asp-controller="Ingredients" asp-action="Create" method="post" class="loginForm">
                    <div class="form-group">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input asp-for="Name" class="form-control" placeholder="Username">
                        <span asp-validation-for="Name" class="text-danger-custom"></span>

                        <div class="text-centered">
                            <img id="ImgPreview-create-account" class="preview1" src="" />
                            <input type="button" id="removeImage1-create-account" value="x" class="btn-rmv1" />
                        </div>
                        <label name="Image" class="btn btn-primary-custom browse margin-5">Upload Image</label>
                        <input type="file" id="imag-create-account" name="UserImage" class="btn btn-primary file" accept="image/*">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>