@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>


<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/identity.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    <br />
                    @ViewData["Title"]
                </h1>
                <h4 class="text-danger">You do not have access to this resource.</h4>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <br />
            </div>
        </div>
    </div>
</div>
