@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>

<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/identity.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    <br />
                    @ViewData["Title"]
                </h1>
                <h4>Please check your email to reset your password.</h4>
            </div>
        </div>
    </div>
</div>