@page
@model LoginModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-header header-filter" style="background-image: url('/assets/img/login.jpg'); background-size: cover; background-position: top center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Login</h4>
                            <div class="social-line">
                                <p>
                                    <button type="submit" class="btn btn-just-icon btn-link" name="provider" value="Facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </button>
                                    <button type="submit" class="btn btn-just-icon btn-link" name="provider" value="Google">
                                        <i class="fa fa-google"></i>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </form>
                    <p class="description text-center">Or Be Classical</p>
                    <form class="form" id="account" method="post">
                        <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">mail</i>
                                    </span>
                                </div>
                                <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                </div>
                                <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" class="form-check-input" type="checkbox">
                                    Remember me
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="footer text-center" style="padding-top: 27px">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}