

    <ul class="navbar-nav">
        @if (User.IsInRole("Manager"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Manager" asp-controller="Bars" asp-action="Details">Details</a>
            </li>

        }
    </ul>
