@model CocktailViewModel

@{
    ViewData["Title"] = "_CocktailSearchResultPartial";
}

<div class="col-md-4">
    <a asp-area="" asp-controller="Cocktails" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.ImagePath" class="detailsimage">
    </a>
    <h4 class="card-title">
        @Model.Name
        <br>
        @*<small class="card-description text-muted text-center">@Model.AverageRating</small>*@
    </h4>
</div>